

<!-- ---------------------------------------------- -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>Document</title>
</head>
<style>
    body {
        background: url('/assets/Background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }


    @media screen and (max-width:1200px) {
        body {
            background: url('/assets/Background-for-1200.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
    }

   

    @media screen and (max-width:500px){
        body {
        background: url('/assets/13\ Pro\ -\ 1.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        height: 100vh;
    }
      .center-box{
        display: flex;
        justify-content: center;
        align-items: center;
      }  

      .msg{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 52px;
        /* identical to box height */

        text-align: center;

        color: #000000;
      }
 }
       





</style>

<body>
    
    <div class="center-box">
        <h1 class="msg">Something went wrong please go back and try again</h1>
    </div>
    
</body>

</html>